.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-bag {
  font-size: 4.25rem;
  width: 1.05882em; }

.icon-facebook-with-circle {
  font-size: 2rem;
  width: 1em; }

.icon-file {
  font-size: 3.2rem;
  width: 1em; }

.icon-github-with-circle {
  font-size: 2rem;
  width: 1em; }

.icon-lock {
  font-size: 3.2rem;
  width: 1em; }

.icon-lock-open {
  font-size: 3.2rem;
  width: 1em; }

.icon-mail_outline {
  font-size: 2.4rem;
  width: 1em; }

.icon-phone-outline {
  font-size: 2.4rem;
  width: 1em; }

.icon-skype {
  font-size: 2.8rem;
  width: 0.85714em; }

.icon-study {
  font-size: 3.2rem;
  width: 1em; }

.icon-twitter-with-circle {
  font-size: 2rem;
  width: 1em; }

.icon-vk-with-circle {
  font-size: 2rem;
  width: 1em; }

@-webkit-keyframes backgroundMove {
  from {
    background-position: 0 0; }
  to {
    background-origin: 0 -4000px; } }

@keyframes backgroundMove {
  from {
    background-position: 0 0; }
  to {
    background-origin: 0 -4000px; } }

/* VARIABLES */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .container:before, .clearfix:after, .container:after {
  content: '';
  display: table; }

.clearfix:after, .container:after {
  clear: both; }

.dots-off, .socials, .nav__list, .contacts, .worksheet__list, .skill-box__list, .experience__list, .education__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

img {
  height: auto;
  max-width: 100%;
  display: block; }

/* CONNECT GOOGLE FONTS */
/* CONNECT LOCAL FONTS */
@font-face {
  font-family: firasansbook;
  src: url("../fonts/firasansbook/firasansbook.eot");
  src: url("../fonts/firasansbook/firasansbook.eot") format("embedded-opentype"), url("../fonts/firasansbook/firasansbook.woff2") format("woff2"), url("../fonts/firasansbook/firasansbook.woff") format("woff"), url("../fonts/firasansbook/firasansbook.ttf") format("truetype"), url("../fonts/firasansbook/firasansbook.svg#TTDrugsThin") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: firasansbook;
    src: url("../fonts/firasansbook/firasansbook.svg#firasansbook") format("svg"); } }

@font-face {
  font-family: firasanslight;
  src: url("../fonts/firasanslight/firasanslight.eot");
  src: url("../fonts/firasanslight/firasanslight.eot") format("embedded-opentype"), url("../fonts/firasanslight/firasanslight.woff2") format("woff2"), url("../fonts/firasanslight/firasanslight.woff") format("woff"), url("../fonts/firasanslight/firasanslight.ttf") format("truetype"), url("../fonts/firasanslight/firasanslight.svg#TTDrugsThin") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: firasanslight;
    src: url("../fonts/firasanslight/firasanslight.svg#firasanslight") format("svg"); } }

@font-face {
  font-family: firasansmedium;
  src: url("../fonts/firasansmedium/firasansmedium.eot");
  src: url("../fonts/firasansmedium/firasansmedium.eot") format("embedded-opentype"), url("../fonts/firasansmedium/firasansmedium.woff2") format("woff2"), url("../fonts/firasansmedium/firasansmedium.woff") format("woff"), url("../fonts/firasansmedium/firasansmedium.ttf") format("truetype"), url("../fonts/firasansmedium/firasansmedium.svg#TTDrugsThin") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: firasansmedium;
    src: url("../fonts/firasansmedium/firasansmedium.svg#firasansmedium") format("svg"); } }

@font-face {
  font-family: ProximaNovaCondSemibold;
  src: url("../fonts/ProximaNovaCondSemibold/ProximaNovaCondSemibold.eot");
  src: url("../fonts/ProximaNovaCondSemibold/ProximaNovaCondSemibold.eot") format("embedded-opentype"), url("../fonts/ProximaNovaCondSemibold/ProximaNovaCondSemibold.woff2") format("woff2"), url("../fonts/ProximaNovaCondSemibold/ProximaNovaCondSemibold.woff") format("woff"), url("../fonts/ProximaNovaCondSemibold/ProximaNovaCondSemibold.ttf") format("truetype"), url("../fonts/ProximaNovaCondSemibold/ProximaNovaCondSemibold.svg#TTDrugsThin") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: ProximaNovaCondSemibold;
    src: url("../fonts/ProximaNovaCondSemibold/ProximaNovaCondSemibold.svg#ProximaNovaCondSemibold") format("svg"); } }

html {
  /* height hack */
  min-height: 100%;
  height: 100%; }

body {
  /* height hack */
  min-height: 100%;
  height: 100%;
  /* VERTICAL RYTHM */
  /* SMOOTH FONT */
  -webkit-font-smoothing: subpixel-antialiased; }

body.onload {
  overflow: hidden; }

button, select {
  -webkit-appearance: none; }

/* SELECT TEXT */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

a {
  text-decoration: none;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* System */
.np {
  padding: 0; }

/* no padding */
.np-l {
  padding-left: 0; }

/* no padding left */
.np-r {
  padding-right: 0; }

/* no padding right */
.dp {
  padding: 0 30px; }

/* double padding */
.nm {
  margin: 0; }

/* no margin */
.nm-b {
  margin-bottom: 0; }

/* no margin bottom */
.p_small {
  padding: 5px; }

/* BASE RESET */
.navbar-default .navbar-toggle {
  border: none; }

/* HAPPY BROWSER */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  font-family: 'firasansbook', sans-serif; }

.app {
  min-width: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  background: url(../img/background.jpg) center repeat;
  -webkit-animation: backgroundMove 20s infinite linear;
  animation: backgroundMove 20s infinite linear; }

.main-header {
  position: relative;
  width: 100%;
  background-color: #eff3f7;
  padding: 30px 0;
  margin-bottom: 40px; }
  .main-header:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(50%, #1c667a), to(#FFFFFF));
    background: -webkit-linear-gradient(left, #FFFFFF 0%, #1c667a 50%, #FFFFFF 100%);
    background: linear-gradient(to right, #FFFFFF 0%, #1c667a 50%, #FFFFFF 100%); }

.container {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  min-width: 960px;
  width: 75%;
  margin: 0 auto; }
  @media only screen and (max-width: 980px) {
    .container {
      min-width: auto;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.sidebar {
  float: left;
  width: 25%;
  min-width: 250px; }
  @media only screen and (max-width: 980px) {
    .sidebar {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      width: 100%; } }

.info, .experience, .education, .portfolio, .contact-me {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: right;
  width: 70%;
  min-width: 650px;
  background-color: #eff3f7;
  margin-bottom: 30px; }
  @media only screen and (max-width: 980px) {
    .info, .experience, .education, .portfolio, .contact-me {
      min-width: auto;
      width: 90%;
      margin: 0 auto 30px; } }
  @media only screen and (max-width: 580px) {
    .info, .experience, .education, .portfolio, .contact-me {
      text-align: center; } }

.contact-me {
  overflow: hidden; }

.socials-section {
  display: none; }
  @media only screen and (max-width: 580px) {
    .socials-section {
      display: block; } }
  .socials-section .socials, .socials-section .nav__list, .socials-section .contacts {
    width: 90%;
    margin: 0 auto 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .socials-section .socials .socials__icon, .socials-section .nav__list .socials__icon, .socials-section .contacts .socials__icon {
      font-size: 3.5rem;
      fill: #3ba8c0;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .socials-section .socials .socials__icon:hover, .socials-section .nav__list .socials__icon:hover, .socials-section .contacts .socials__icon:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }

.main-footer {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 20px 0;
  background-color: #eff3f7; }
  .main-footer:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(50%, #1c667a), to(#FFFFFF));
    background: -webkit-linear-gradient(left, #FFFFFF 0%, #1c667a 50%, #FFFFFF 100%);
    background: linear-gradient(to right, #FFFFFF 0%, #1c667a 50%, #FFFFFF 100%); }

.header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: 0 auto; }

.header__logo img {
  max-width: 250px; }
  @media only screen and (max-width: 580px) {
    .header__logo img {
      max-width: 200px; } }

.header__logo h1 {
  position: absolute;
  left: -9999px; }

.header__socials {
  margin-left: auto; }
  @media only screen and (max-width: 580px) {
    .header__socials {
      display: none; } }

.socials__item {
  margin-left: 10px;
  display: inline-block; }
  .socials__item:first-child {
    margin-left: 0; }

.socials__link {
  outline: none; }

.socials__icon {
  font-size: 2.5rem;
  fill: #58697a; }
  .socials__icon:hover {
    fill: #3ba8c0; }

.burger {
  display: none;
  margin-left: auto;
  position: relative;
  z-index: 0;
  width: 30px;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  border: 2px solid #58697a; }
  .burger:hover, .burger.opened {
    border-color: #3ba8c0; }
    .burger:hover .burger__item, .burger.opened .burger__item {
      background-color: #3ba8c0; }
  .burger.opened .burger__item:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg); }
  .burger.opened .burger__item:nth-child(2) {
    opacity: 0; }
  .burger.opened .burger__item:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg); }
  .burger .burger__item {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #58697a;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  @media only screen and (max-width: 980px) {
    .burger {
      display: block; } }

.dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  visibility: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 200px;
  background-color: #eff3f7;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  right: 6%;
  top: 75px; }
  .dropdown.open {
    visibility: visible; }
  .dropdown__item {
    text-align: right; }
    .dropdown__item:last-child .dropdown__link:after {
      display: none; }
  .dropdown__link {
    position: relative;
    color: #959aa8;
    font-family: "firasansbook", sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    padding: 10px;
    display: block; }
    .dropdown__link:hover {
      color: #3ba8c0; }
    .dropdown__link_active {
      background-color: #3ba8c0;
      color: #fff;
      margin-top: -2px; }
      .dropdown__link_active:hover {
        color: #fff; }
    .dropdown__link:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 5%;
      width: 90%;
      height: 2px;
      background-color: #3ba8c0; }

.slide {
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0; }
  .slide.to-right {
    -webkit-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    transform: translateX(-30%); }
  .slide.to-left {
    -webkit-transform: translateX(30%);
    -ms-transform: translateX(30%);
    transform: translateX(30%); }
  .slide.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }

.sidebar__nav {
  margin-bottom: 20px; }
  @media only screen and (max-width: 980px) {
    .sidebar__nav {
      display: none; } }

.nav, .contacts {
  overflow: hidden;
  background-color: #eff3f7;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.nav__item:last-child .nav__link:after {
  height: 0; }

.nav__link {
  position: relative;
  display: block;
  padding: 25px;
  color: #959aa8;
  font-family: "firasansbook", sans-serif;
  font-size: 21px;
  line-height: 27px;
  letter-spacing: 0.2px; }
  .nav__link:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 5%;
    width: 90%;
    height: 2px;
    background-color: #3ba8c0; }
  .nav__link:hover {
    color: #3ba8c0; }
  .nav__link_active {
    background-color: #3ba8c0;
    color: #fff;
    margin-top: -2px; }
    .nav__link_active:hover {
      color: #fff; }

.sidebar_contacts {
  margin-bottom: 20px; }
  @media only screen and (max-width: 980px) {
    .sidebar_contacts {
      margin-bottom: 35px; } }

.contacts {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #3ba8c0), color-stop(30%, #51daf8));
  background: -webkit-linear-gradient(top, #3ba8c0 30%, #51daf8);
  background: linear-gradient(180deg, #3ba8c0 30%, #51daf8); }
  @media only screen and (max-width: 980px) {
    .contacts {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.contacts__item {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(255, 255, 255, 0.2); }
  .contacts__item:not(:first-child):hover, .contacts__item .contacts__item:not(:first-child):focus {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px); }
  @media only screen and (max-width: 980px) {
    .contacts__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .contacts__item:first-child {
        display: none;
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none; } }

.contacts__title, .contacts__link {
  margin: 0;
  padding: 10px 20px;
  color: #fff;
  font-family: "firasansbook", sans-serif;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.1px; }

.contacts__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  margin-left: 40px; }
  @media only screen and (max-width: 980px) {
    .contacts__link {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 0;
      min-width: 290px; } }
  @media only screen and (max-width: 580px) {
    .contacts__link {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  .contacts__link span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    @media only screen and (max-width: 980px) {
      .contacts__link span {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none; } }

.contacts__icon {
  font-size: 1.5rem;
  margin-right: 15px;
  vertical-align: middle; }

.info__title, .experience__title, .education__title, .portfolio__title {
  color: #3ba8c0;
  font-family: "firasansbook", sans-serif;
  font-size: 27px;
  line-height: 35px;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 20px;
  display: inline-block;
  border-bottom: 2px solid #3ba8c0; }
  @media only screen and (max-width: 580px) {
    .info__title, .experience__title, .education__title, .portfolio__title {
      border: 0;
      padding: 14px 12px; } }

.info-body {
  padding: 20px 50px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media only screen and (max-width: 580px) {
    .info-body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 20px 30px 40px; } }

.info-body_photo-wrap {
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 30%;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  margin: 0;
  max-width: 125px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #3ba8c0;
  margin-right: 20px; }
  @media only screen and (max-width: 980px) {
    .info-body_photo-wrap {
      max-width: 175px;
      -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%; } }
  @media only screen and (max-width: 580px) {
    .info-body_photo-wrap {
      margin-right: 0;
      margin-bottom: 30px; } }

.info-body__worksheet-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 70%;
  -ms-flex: 1 1 70%;
  flex: 1 1 70%; }
  @media only screen and (max-width: 980px) {
    .info-body__worksheet-wrap {
      -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
      flex-basis: 60%; } }

.worksheet__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px; }
  .worksheet__item_what {
    color: #4a545d;
    font-family: "firasansmedium", sans-serif;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.1px; }
    @media only screen and (max-width: 580px) {
      .worksheet__item_what {
        font-size: 20px;
        line-height: 28px; } }
  .worksheet__item_info {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    margin-left: 10px;
    color: #4a545d;
    font-family: "firasansbook", sans-serif;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.1px; }
    @media only screen and (max-width: 580px) {
      .worksheet__item_info {
        font-size: 19px;
        line-height: 27px; } }
  .worksheet__item:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 580px) {
    .worksheet__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 30px; } }

.skill-box__list {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  margin-left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.skill-box__item {
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 4px 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #3ba8c0), color-stop(70%, #236472), color-stop(70%, #3ba8c0));
  background: -webkit-linear-gradient(top, #3ba8c0 40%, #236472 70%, #3ba8c0);
  background: linear-gradient(180deg, #3ba8c0 40%, #236472 70%, #3ba8c0);
  color: #fff;
  font-family: "ProximaNovaCondSemibold", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0px; }

.experience-body, .education-body, .portfolio-body {
  padding: 20px 50px 40px; }

.experience__item, .education__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px; }
  .experience__item-icon, .education__item-icon {
    font-size: 2.5rem;
    margin-right: 30px;
    color: #4a545d; }
    @media only screen and (max-width: 580px) {
      .experience__item-icon, .education__item-icon {
        margin-right: 0;
        margin-bottom: 15px; } }
  .experience__item-work, .education__item-study {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .experience__item:last-child, .education__item:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 580px) {
    .experience__item, .education__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.work-place, .education-place {
  color: #4a545d;
  font-family: "firasansbook", sans-serif;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.1px;
  display: block; }

.work-date, .education-date {
  color: #4a545d;
  font-family: "firasanslight", sans-serif;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0px;
  display: block; }

.education-place a {
  color: #4a545d; }
  .education-place a:hover {
    color: #3ba8c0; }

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.lock__icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  font-size: 2rem;
  margin-right: 30px;
  color: #4a545d; }

.copyright {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  color: #4a545d;
  font-family: "firasanslight", sans-serif;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.1px; }

.portfolio-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.portfolio-item {
  margin: 10px;
  margin-bottom: 25px;
  -webkit-flex-basis: -webkit-calc(33.33% - 20px);
  -ms-flex-preferred-size: calc(33.33% - 20px);
  flex-basis: calc(33.33% - 20px); }
  @media only screen and (max-width: 980px) {
    .portfolio-item {
      -webkit-flex-basis: -webkit-calc(50% - 20px);
      -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px); } }
  @media only screen and (max-width: 580px) {
    .portfolio-item {
      -webkit-flex-basis: -webkit-calc(100%);
      -ms-flex-preferred-size: calc(100%);
      flex-basis: calc(100%); } }

.portfolio-item__effect {
  position: relative;
  overflow: hidden;
  color: #fff; }
  .portfolio-item__effect:hover .portfolio-item__caption {
    top: 0; }
  .portfolio-item__effect:hover .img-caption__overlay {
    top: 0; }

.portfolio-item__caption {
  position: absolute;
  top: -100%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 0;
  z-index: 10; }

.img-caption__title {
  margin: 0;
  font-size: 18px;
  text-transform: capitalize; }

.img-caption__text {
  margin: 0;
  font-size: 14px; }

.img-caption__link {
  font-size: 16px;
  color: #fff;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #3ba8c0;
  width: 40%; }

.img-caption__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

.portfolio-item__img-wrap {
  margin: 0;
  text-align: center; }

.portfolio-item__img {
  border: 2px solid #3ba8c0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  min-height: 130px; }
  @media only screen and (max-width: 980px) {
    .portfolio-item__img {
      min-height: auto; } }

.portfolio-item__link {
  text-transform: lowercase;
  display: block;
  color: #3ba8c0;
  font-family: "firasanslight", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  margin-bottom: 8px;
  margin-top: 8px; }

.portfolio-item__description {
  color: #959aa8;
  font-family: "firasansbook", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px; }

.contact-me__header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #3ba8c0), color-stop(90%, #51daf8));
  background: -webkit-linear-gradient(top, #3ba8c0 90%, #51daf8);
  background: linear-gradient(180deg, #3ba8c0 90%, #51daf8);
  text-align: center;
  padding: 50px 50px; }
  @media only screen and (max-width: 580px) {
    .contact-me__header {
      padding: 20px 20px; } }

.contact-me__title {
  margin: 0;
  color: #fff;
  font-family: "firasansbook", sans-serif;
  font-size: 27px;
  line-height: 35px;
  letter-spacing: 0.1px; }
  @media only screen and (max-width: 580px) {
    .contact-me__title {
      font-size: 24px;
      line-height: 30px; } }

.contact-me__body {
  padding: 50px 0;
  width: 70%;
  margin: 0 auto; }
  @media only screen and (max-width: 580px) {
    .contact-me__body {
      width: 90%; } }

.contact-me__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .contact-me__form label {
    color: #959aa8;
    font-family: "firasansbook", sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    margin: 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 -webkit-calc(50% - 20px);
    -ms-flex: 1 1 calc(50% - 20px);
    flex: 1 1 calc(50% - 20px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media only screen and (max-width: 580px) {
      .contact-me__form label {
        text-align: left; } }
  .contact-me__form input, .contact-me__form textarea {
    color: #959aa8;
    font-family: "firasansbook", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    padding: 10px;
    border: 0;
    border: 1px solid #3ba8c0;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .contact-me__form input::-webkit-input-placeholder, .contact-me__form textarea::-webkit-input-placeholder {
      color: #3ba8c0;
      font-size: 16px;
      -webkit-transition: opacity 0.6s ease;
      transition: opacity 0.6s ease; }
    .contact-me__form input::-moz-placeholder, .contact-me__form textarea::-moz-placeholder {
      color: #3ba8c0;
      font-size: 16px;
      -webkit-transition: opacity 0.6s ease;
      transition: opacity 0.6s ease; }
    .contact-me__form input:-moz-placeholder, .contact-me__form textarea:-moz-placeholder {
      color: #3ba8c0;
      font-size: 16px;
      -webkit-transition: opacity 0.6s ease;
      transition: opacity 0.6s ease; }
    .contact-me__form input:-ms-input-placeholder, .contact-me__form textarea:-ms-input-placeholder {
      color: #3ba8c0;
      font-size: 16px;
      -webkit-transition: opacity 0.6s ease;
      transition: opacity 0.6s ease; }
    .contact-me__form input:focus::-webkit-input-placeholder, .contact-me__form textarea:focus::-webkit-input-placeholder {
      opacity: 0; }
    .contact-me__form input:focus::-moz-placeholder, .contact-me__form textarea:focus::-moz-placeholder {
      opacity: 0; }
    .contact-me__form input:focus:-moz-placeholder, .contact-me__form textarea:focus:-moz-placeholder {
      opacity: 0; }
    .contact-me__form input:focus:-ms-input-placeholder, .contact-me__form textarea:focus:-ms-input-placeholder {
      opacity: 0; }
    .contact-me__form input:required:invalid, .contact-me__form input:focus:invalid, .contact-me__form textarea:required:invalid, .contact-me__form textarea:focus:invalid {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .contact-me__form input:required:valid, .contact-me__form textarea:required:valid {
      border-color: green; }
  .contact-me__form textarea {
    resize: none;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    min-height: 250px; }
  .contact-me__form .button-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 10px; }

.contact-me__button {
  color: #fff;
  font-family: "firasansbook", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  -webkit-flex-basis: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  cursor: pointer;
  padding: 10px 15px;
  background: #51daf8;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .contact-me__button_dark {
    background: #58697a; }
  @media only screen and (max-width: 580px) {
    .contact-me__button {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin-bottom: 5px; } }
