.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-facebook-with-circle {
  font-size: 2rem;
  width: 1em; }

.icon-github-with-circle {
  font-size: 2rem;
  width: 1em; }

.icon-twitter-with-circle {
  font-size: 2rem;
  width: 1em; }

.icon-vk-with-circle {
  font-size: 2rem;
  width: 1em; }

/* VARIABLES */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .main-header:before, .clearfix:after, .main-header:after {
  content: '';
  display: table; }

.clearfix:after, .main-header:after {
  clear: both; }

/* CONNECT GOOGLE FONTS */
/* CONNECT LOCAL FONTS */
@font-face {
  font-family: RobotoLight;
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#TTDrugsThin") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: RobotoLight;
    src: url("../fonts/RobotoLight/RobotoLight.svg#RobotoLight") format("svg"); } }

html {
  /* height hack */
  min-height: 100%;
  height: 100%; }

body {
  /* height hack */
  min-height: 100%;
  height: 100%;
  /* VERTICAL RYTHM */
  /* SMOOTH FONT */
  -webkit-font-smoothing: subpixel-antialiased; }

body.onload {
  overflow: hidden; }

button, select {
  -webkit-appearance: none; }

/* SELECT TEXT */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

a {
  text-decoration: none;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* System */
.np {
  padding: 0; }

/* no padding */
.np-l {
  padding-left: 0; }

/* no padding left */
.np-r {
  padding-right: 0; }

/* no padding right */
.dp {
  padding: 0 30px; }

/* double padding */
.nm {
  margin: 0; }

/* no margin */
.nm-b {
  margin-bottom: 0; }

/* no margin bottom */
.p_small {
  padding: 5px; }

/* BASE RESET */
.navbar-default .navbar-toggle {
  border: none; }

/* HAPPY BROWSER */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.app {
  min-width: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.main-header {
  position: relative;
  width: 100%;
  background-color: #eff3f7;
  padding: 30px 90px; }
  .main-header:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background: url(../img/line.png) center no-repeat; }

.main-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.main-footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.header__logo {
  float: left; }
  .header__logo h1 {
    position: absolute;
    left: -9999px; }

.socials {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.header__socials {
  float: right;
  margin-top: 5px; }

.socials__item {
  margin-left: 10px;
  display: inline-block; }
  .socials__item:first-child {
    margin-left: 0; }

.hiden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.socials__icon {
  font-size: 2rem;
  fill: #58697a; }
  .socials__icon:hover {
    fill: #3ba8c0; }
