.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-bag {
	font-size:(42.5/10)*1rem;
	width:(45/42.5)*1em;
}
.icon-briefcase {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-cancel-circle {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-cloud-download {
	font-size:(28/10)*1rem;
	width:(30/28)*1em;
}
.icon-facebook-with-circle {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-file {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-github-with-circle {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-image {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-lock {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-lock-open {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-mail_outline {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-phone-outline {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-skype {
	font-size:(28/10)*1rem;
	width:(24/28)*1em;
}
.icon-study {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-twitter-with-circle {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-vk-with-circle {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
