@import 'settings';

// preloader
.preloader {}

body {
	font-family: 'firasansbook', sans-serif;
}

// sections
.app {
	min-width: 320px;
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;
	background: url(../img/background.jpg) center repeat;
}
.main-header {
	position: relative;
	width: 100%;
	background-color: $gray-color;
	padding: 30px 0;
	margin-bottom: 40px;
	
	&:after {
		content: '';
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 100%;
		height: 2px;
		background:linear-gradient(to right, #FFFFFF 0%,rgb( 28, 102, 122 ) 50%,#FFFFFF 100%);
	}
}

.container {
	flex: 1 0 auto;
	min-width: 960px;
	width: 75%;
	margin: 0 auto;
	@extend .clearfix;
	@include respond-to(tablet) {
		min-width: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

}
.sidebar {
	float: left;
	width: 25%;
	min-width: 250px;

	@include respond-to(tablet) {
		// display: none;
		order: 1;
		width: 100%;
	}
}
.info {
	border-radius: 4px;
	float: right;
	width: 70%;
	min-width: 650px;
	background-color: $gray-color;
	margin-bottom: 30px;

	@include respond-to(tablet) {
		min-width: auto;
		width: 90%;
		margin: 0 auto 30px;
	}

	@include respond-to(mobile) {
		text-align: center;
	}
}

.experience {
	@extend .info;
}
.education {
	@extend .info;
}

.portfolio {
	@extend .info;
}
.contact-me {
	@extend .info;
	overflow: hidden;
}
.socials-section {
	display: none;
	@include respond-to(mobile) {
		display: block;
	}
	.socials {
		width: 90%;
		margin: 0 auto 30px;
		display: flex;
		justify-content: space-around;

		.socials__icon {
			font-size: 3.5rem;
			fill: $accent-color;
			transition: all .5s ease;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}
.main-footer {
	position: relative;
	flex: 0 0 auto;
	padding: 20px 0;
	background-color: $gray-color;

	&:before {
		content: '';
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
		height: 2px;
		background: url(../img/line.png) center no-repeat;
	}
}
// moduls


// header-wrap
.header-wrap {
	display: flex;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}
// header__logo
.header__logo {
	h1 {
		position: absolute;
		left: -9999px;
	}
}

// header__socials
.socials {
	@extend .dots-off;	
}
.header__socials {
	margin-left: auto;
	@include respond-to(mobile) {
		display: none;
	}
}
.socials__item {
	margin-left: 10px;
	display: inline-block;
	
	&:first-child {
		margin-left: 0;
	}

}

.socials__link {
	
	
}

.socials__icon {
	font-size: 2.5rem;
	fill: $icon-color;
	&:hover {
		fill: $accent-color;
	}
}

// burger
.responsive-menu {
	margin-left: auto;
	position: relative;
	display: none;
	@include respond-to(tablet) {
    	display: block;
	}
}
.burger {
	z-index: 0;
    width: 30px; height: 30px;
    padding: 3px;
    cursor: pointer;
    border: 2px solid $icon-color;
	
	&:hover, &.opened {
		border-color: $accent-color;

		.burger__item {
			background-color: $accent-color;
		}
	}
    &.opened {
		
        .burger__item:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        .burger__item:nth-child(2) {
           opacity: 0;
        }
        .burger__item:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
	.burger__item {
	    display: block;
	    width: 20px; height: 3px;
	    margin-bottom: 5px;
	    background-color: $icon-color;
	    transition: all 0.2s ease-out;
	}
   
}
.dropdown {
	display: flex;
	flex-direction: column;
	visibility: hidden;
	margin: 0; padding: 0;
	list-style-type: none;
		
	min-width: 200px;
	background-color: $gray-color;
	box-shadow: 2px 2px 2px 2px rgba(#000, 0.2);
	border-radius: 4px; overflow: hidden;

	position: absolute; z-index: 5;
	right: 2px; top: 34px;

	&.open {
		visibility: visible;
	}

	&__item {
		text-align: right;
		&:last-child .dropdown__link:after {
			display: none;
		}
	}
	&__link{

		position: relative;
		@include font-type($gray-font-c, $main-font, 14px, 18px, 0px);
		padding: 10px;
		display: block;
		
		&:hover {
			color: $accent-color;

		}

		&_active {
			background-color: $accent-color;
			color: $white-color;
			margin-top: -2px;

			&:hover {
				color: $white-color;
			}
		}

		&:after {
			content: "";
			position: absolute; bottom: 0px; left: 5%;
			width: 90%; height: 2px;
			background-color: $accent-color;
		}
	}
}






// navigation
.sidebar__nav {
	margin-bottom: 20px;
	@include respond-to(tablet) {
		display: none;
	}
}
.nav {
	overflow: hidden;
	background-color: $gray-color;
	border-radius: 5px;
}
.nav__list {
	@extend .socials;
	
}
.nav__item {
	&:last-child .nav__link:after {
		height: 0;
	}
}
.nav__link {
	position: relative;
	display: block;
	padding: 25px;
	@include font-type($gray-font-c, $main-font, 21px, 27px, 0.2px);

	&:after {
		content: "";
		position: absolute; bottom: 0px; left: 5%;
		width: 90%; height: 2px;
		background-color: $accent-color;
	}
	
	&:hover {
		color: $accent-color;
	}

	&_active {
		background-color: $accent-color;
		color: $white-color;
		margin-top: -2px;
		&:hover {
			color: $white-color;
		}
	}
}

// contacts
.sidebar_contacts {
	margin-bottom: 20px;
	@include respond-to(tablet) {
		margin-bottom: 35px;
	}
}
.contacts {
	@extend .socials;
	@extend .nav;
	background: linear-gradient(180deg, $accent-color 30%, #51daf8);
	@include respond-to(tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.contacts__item {
	box-shadow: 0 1px 1px rgba(#000, 0.2),
				0 2px 1px rgba(#fff, 0.2);
	&:not(:first-child):hover, .contacts__item:not(:first-child):focus {
		transform: translateY(1px);
	}

	@include respond-to(tablet) {
		&:first-child {
			display: none;
			flex: none;
		}
		flex: 1;
		display: flex;
		justify-content: center;
	}
}

.contacts__title {
	margin: 0;
	padding: 10px 20px;
	@include font-type($white-color, $main-font, 17px, 30px, 0.1px);
}
.contacts__link {
	display: flex;
	@extend .contacts__title;
	padding: 10px 0;
	margin-left: 40px;
	
	@include respond-to(tablet) {
		justify-content: center;
		align-items: center;
		margin-left: 0;
		min-width: 290px;
	}

	@include respond-to(mobile) {
		justify-content: flex-start;
	}

	span {
		flex: 1;
		@include respond-to(tablet) {
			flex: none;
		}
	}
	
}
.contacts__icon {
	font-size: 1.5rem;
	margin-right: 15px;
	vertical-align: middle;
}

// info-header
.info-header {}
.info__title {
	@include font-type($accent-color, $main-font, 27px, 35px, 0.1px);
	margin: 0;
	padding: 20px;
	display: inline-block;
	border-bottom: 2px solid $accent-color;

	@include respond-to(mobile) {
		border: 0;
		padding: 14px 12px;
	}
}

// info-body
.info-body {
	padding: 20px 50px 40px;
	display: flex;
	align-items: center;

	@include respond-to(mobile) {
		flex-direction: column;
		padding: 20px 30px 40px;
	}
}

// info__photo
.info-body_photo-wrap {
	overflow: hidden;
	flex: 1 1 30%;
	margin: 0;
	max-width: 125px;
	border-radius: 50%;
	border: 5px solid $accent-color;
	margin-right: 20px;

	@include respond-to(tablet) {
		max-width: 175px;
		flex-basis: 40%;
	}

	@include respond-to(mobile) {
		margin-right: 0;
		margin-bottom: 30px;
	}
}
.info-body__photo {}

// info__worksheet
.info-body__worksheet-wrap {
	flex: 1 1 70%;

	@include respond-to(tablet) {
		flex-basis: 60%;
	}
}
.worksheet {}
.worksheet__list {
	@extend .dots-off;
}
.worksheet__item {
	display: flex;
	margin-bottom: 8px;
	&_what {
		@include font-type($dark-gray-color, $bold-font, 17px, 23px, 0.1px);

		@include respond-to(mobile) {
			font-size: 20px; line-height: 28px
		}
	}
	

	&_info {
		align-self: center;
		flex: 1 1 50%;
		margin-left: 10px;
		@include font-type($dark-gray-color, $main-font, 15px, 23px, 0.1px);

		@include respond-to(mobile) {
			font-size: 19px; line-height: 27px
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
	
	@include respond-to(mobile) {
		flex-direction: column;
		margin-bottom: 30px;
	}
}


// skill-box
.skill-box__list {
	flex: 1 1 50%;
	margin-left: 10px;
	@extend .dots-off;
	display: flex;
	flex-wrap: wrap;
}
.skill-box__item {
	margin-left: 5px; margin-bottom: 5px;
	padding: 4px 10px;
	border-radius: 2px;
	background: linear-gradient(180deg, $accent-color 40%, darken($accent-color, 20%) 70%, $accent-color);

	@include font-type($white-color, $skill-font, 14px, 14px, 0px);
}

// experience-header
.experience-header {}
.experience__title {
	@extend .info__title;
}

// experience-body
.experience-body {
	padding: 20px 50px 40px;
}
.experience__list {
	@extend .dots-off;
}
.experience__item {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	&-icon {
		font-size: 2.5rem;
		margin-right: 30px;
		color: $dark-gray-color;

		@include respond-to(mobile)  {
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
	&-work {
		flex: 1;
	}
	&:last-child {
		margin-bottom: 0;
	}

	@include respond-to(mobile)  {
		flex-direction: column;
	}
}
.work-place {
	@include font-type($dark-gray-color, $main-font, 17px, 25px, 0.1px);
	display: block;
}
.work-date {
	@include font-type($dark-gray-color, $light-font, 15px, 23px, 0px);
	display: block;
}

// education-header
.education-header {}
.education__title {
	@extend .info__title;
}

// education-body
.education-body {
	@extend .experience-body;
}
.education__list {
	@extend .dots-off;
}
.education__item {
	@extend .experience__item;
	&-icon {
		@extend .experience__item-icon;
	}
	&-study {
		@extend .experience__item-work;
	}
}
.education-place {
	@extend .work-place;
	a {
		color: $dark-gray-color;

		&:hover {
			color: $accent-color;
		}
	}
}
.education-date {
	@extend .work-date;
}

// footer-wrap
.footer-wrap {
	display: flex;
	width: 80%;
	margin: 0 auto;
	align-items: center;
}

// lock
.lock {

}
.lock__icon {
	flex: 0;
	font-size: 2rem;
	margin-right: 30px;
	color: $dark-gray-color;
}
// copyright
.copyright {
	flex: 1;
	text-align: center;
	@include font-type($dark-gray-color, $light-font, 13px, 17px, 0.1px);
}

								// PORTFOLIO PAGE

// portfolio-header
.portfolio-header {}
.portfolio__title {
	@extend .info__title;
}

// portfolio-body
.portfolio-body {
	@extend .experience-body;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

// portfolio-item
.portfolio-item {
	margin: 10px;
	margin-bottom: 25px;
	flex-basis: calc(33.33% - 20px);

	@include respond-to(tablet) {
		flex-basis: calc(50% - 20px);
	}

	@include respond-to(mobile) {
		flex-basis: calc(100%);
	}
}

// portfolio-img
.portfolio-item__img-wrap {
	margin: 0;
	text-align: center;

}
.portfolio-item__img {
	border: 2px solid $accent-color;
	border-radius: 4px;
	min-height: 130px;
	margin-bottom: 8px;

	@include respond-to(tablet) {
		min-height: auto;
	}
}

// portfolio-text
.portfolio-item__link {
	text-transform: lowercase;
	display: block;
	@include font-type($accent-color, $light-font, 14px, 18px, 0px);
	margin-bottom: 8px;
}
.portfolio-item__description {
	@include font-type($gray-font-c, $main-font, 16px, 20px, 0px);
}

								// CONTACT PAGE
// contact-me__header
.contact-me__header{
	background: linear-gradient(180deg, $accent-color 90%, #51daf8);
	text-align: center;
	padding: 50px 50px;

	@include respond-to(mobile) {
		padding: 20px 20px;
	}
}
.contact-me__title {
	margin: 0;
	@include font-type($white-color, $main-font, 27px, 35px, 0.1px);

	@include respond-to(mobile) {
		font-size: 24px; line-height: 30px;
	}
}

// contact-me__body
.contact-me__body{
	padding: 50px 0;
	width: 70%;
	margin: 0 auto;

	@include respond-to(mobile) {
		width: 90%;
	}
}
.contact-me__form {
	display: flex;
	flex-wrap: wrap;

	label {
		@include font-type($gray-font-c, $main-font, 20px, 30px, 0.1px);

		margin: 10px;
		flex: 1 1 calc(50% - 20px);

		display: flex;
		flex-direction: column;

		@include respond-to(mobile) {
			text-align: left;
		}
	}

	input, textarea {
		@include font-type($gray-font-c, $main-font, 16px, 24px, 0.1px);
		padding: 10px;
		border: 0;
		border: 1px solid $accent-color;
		border-radius: 3px;
		&::-webkit-input-placeholder       {color: $accent-color; font-size: 16px; transition: opacity 0.6s ease;}
		&::-moz-placeholder                {color: $accent-color; font-size: 16px; transition: opacity 0.6s ease;}
		&:-moz-placeholder                 {color: $accent-color; font-size: 16px; transition: opacity 0.6s ease;}
		&:-ms-input-placeholder            {color: $accent-color; font-size: 16px; transition: opacity 0.6s ease;}
		
		&:focus::-webkit-input-placeholder       {opacity: 0;}
		&:focus::-moz-placeholder                {opacity: 0;}
		&:focus:-moz-placeholder                 {opacity: 0;}
		&:focus:-ms-input-placeholder            {opacity: 0;}

		&:required:invalid, &:focus:invalid {
			box-shadow: none;
		}

	}

	textarea {
		resize: none;
		flex-basis: 100%;
		min-height: 250px;
	}

	.button-cont {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex: 1 1 100%;
		margin: 10px;

	}
}
// form-button
.contact-me__button {
	@include font-type($white-color, $main-font, 16px, 20px, 0.1px);
	flex-basis: 30%;
	cursor: pointer;
	padding: 10px 15px;
	background: #51daf8;
	border: none;
	border-radius: 4px;

	&_dark {
		background: $icon-color;
	}

	@include respond-to(mobile) {
		flex-basis: 100%;
		margin-bottom: 5px;
	}
}